<html>

  <head>

  <title>My first API script</title>

  <body>

    <H1>Testing the API call</h1>

    <form>
      <label for="msg">Message</label>

      <button id='submitButton'>Submit</button>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        var API_URL = 'https://example.com/'; // this will be my API like https://example.com

        $('#submitButton').on('click', function(){
          $.ajax({
            type: 'POST',
            url: API_URL,
            data: JSON.stringfly({"message": $('#msg'.val())}),
            contentType: "application/json",

            success: function(data){
              location.reload();
            }
          })
        })

    </script> -->

  </body>

</html>